* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0;
	left: 0;
	position: absolute;
	width: 100vw;
	height: 100vh;
}

/* Top Area */
.top-area {
	width: 100%;
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border-bottom: 1px solid #333;
	background: linear-gradient(to right, #bdc3c7, #2c3e50);
	color: #fff;
}

.heading {
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-area h1 {
	font-size: 3rem;
}

.top-area .logo {
	position: relative;
	margin-right: 0.3rem;
}

.top-area h3 {
	font-size: 1.5rem;
}

.top-area .instructions {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 22%;
	height: 40%;
	border: 1px solid #fff;
}

/* Game Area */
.game-area {
	display: flex;
	height: 60%;
	width: 100%;
}

.game-area div {
	position: absolute;
	width: 50%;
	height: inherit;
}

#rightSide {
	left: 50%;
	border-left: 2px solid #333;
}

img {
	position: absolute;
	max-width: 85px;
}

/* Buttons */
button {
	padding: 0.3rem;
}

button:hover,
button:active {
	background: #333;
	color: #fff;
	cursor: pointer;
}

.button:focus {
	outline: none;
}

/* Mobile */
@media screen and (max-width: 500px) {
	p {
		font-size: 0.8rem;
	}

	.top-area h1 {
		font-size: 1.8rem;
	}

	.top-area h3 {
		font-size: 1.1rem;
	}

	.top-area .instructions {
		width: 50%;
	}

	.top-area button {
		padding: 0;
	}

	.game-area {
		flex-direction: column;
		position: absolute;
		top: 40%;
	}

	.game-area div {
		width: 100vw;
		position: absolute;
		height: 50%;
	}

	#rightSide {
		bottom: 50%;
		border-top: 2px solid #333;
		width: 100%;
		left: 0;
		top: 50%;
		border-left: none;
	}

	img {
		max-width: 60px;
	}
}
